<html>
    <img src="/home/benny/Documents/Github/KasaDaka-VSDK/disease_graph.jpg" ALT="some text" WIDTH=640 HEIGHT=480>
    <img src="../../../disease_graph.jpg" ALT="some text" WIDTH=640 HEIGHT=480>
    <img src="/disease_graph.jpg" />
    <img src="disease_graph.png" WIDTH=640 HEIGHT=480 >
    <img src="http://www.natuurinformatie.nl/sites/nnm.dossiers/contents/i001540/5094_07-01.jpg" ALT="some text" WIDTH=640 HEIGHT=480>
    {% load staticfiles %}
    <img src="{% static "disease_graph.jpg" WIDTH=640 HEIGHT=480 %}" alt="My image"/>
        Welcome to my site
    <p>Hi there!</p>
    <p>It works!</p>
    <p>Finally!</p>
<div>
    <p>{{ call_sessions }}</p>
</div>

{% for record in call_sessions %}
    <div>
        <p>Record from CallSession: {{ record }}</p>
    </div>
{% endfor %}


{% for record in call_session_steps %}
    <div>
        <p>Record from CallSessionStep: {{ record }}</p>
    </div>
{% endfor %}

<div>
    <p>Query : {{ sql }}</p>
</div>

{% for record in sql %}
    <div>
        <p>Record from CallSessionStep: {{ record }}</p>
    </div>
{% endfor %}




</html>
